* {
	box-sizing: border-box;
}
body {
	font-family: "Arial Black", Arial, sans-serif;
	font-size: 100%;
}
h1 {
	text-align: center;
	font-size: 175%;
}
.type {
	float: left;
	background-color: #DBDBDB;
	border: 1px solid black;
}
.type div {
	display: inline-flex;
}
h2 {
	width: 200px;
	text-align: center;
	font-size: 125%;
	margin: 0px;
	position: relative;
	margin-left: auto;
	right: 0px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}
p {
	padding: 10px;
}
#chicken {
	background-color: #FFE779;
}
#beef {
	background-color: #FF4D4D;
}
#sushi {
	background-color: #7CFF5E;
}
@media (min-width: 992px) {
	#container {
		margin: auto;
		position: relative;
		left: 2%;
	}
	.col-lg-4 {
		width: 30%;
		margin: 1%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		width: 46%;
		margin: 2%;
	}
	.col-md-12 {
		width: 96%;
		margin: 2%;
	}
}
@media (max-width: 767px) {
	.col-sm-12 {
		width: 96%;
		margin: 2%;
	}
}